/* CSS styles here */
body {
  background-color: lightblue;
  background-image: url("scroll-png-26394.png");
  background-size: cover;
  /*display: flex;
  justify-content: center;
  */
  align-items: center;
  min-height: 100vh;
  font-family: "lobster";
}

#quizContainer {
 display: flex; 
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 1px solid #000;
}
h1 {
  font-size: 40px;
}

/* Title header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px; /* Adjust the max-width as desired */
  margin: 0 auto; /* Center the header horizontally */
  text-align: center;
  font-family: "lobster";
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 47PX;

}


/* Idiom title box */
.idiom-title {
  background-color: rgba(242, 242, 242, 0);
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: bold;
  font-family: "lobster";
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Options box */
#options {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {

  /* width: 300px; */
  height: 50PX;
  border-radius: 29PX;
  background-color: lightblue;
  padding: 0 20Px;
  color: black;
  font-size: 20PX;
  border: none;
  cursor: pointer;
  font-family: "lobster";
  box-shadow: 0 8px 5px palegoldenrod;
}

button:hover {
  background-color: #d0d0d0;
  padding: 3px 40px;
  background-color: #d0d0d0;
  font-size: 29px;
}

/* Next question box */
.next-question {
  text-align: center;
}

.next-question button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#start button:hover {
  background-color: #45a049;
  padding: 3px 40px;
  background-color: #d0d0d0;
  font-size: 29px;
}

#yourWins {
  margin-top: 130px;
  font-size: 30px;
  visibility:hidden;
  text-align:center;
}
#prize {
  margin: 0 auto;
    text-align: center;
    width: 923px;
    
}


#rightAnswers{
    font-weight:bold;
    font-weight: bold;
    color: brown;
    padding: 0px 76px;
}
