/* CSS styles here */
body {
  background-color: lightblue;
  background-image: url("scroll-png-26394.png");
  background-size: 1300px;
  background-repeat: no-repeat;
  align-items: center;
  font-family: 'IM Fell English SC', serif;
}

#quizContainer {
 display: flex; 
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
}

/* Title header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px; /* Adjust the max-width as desired */
  margin: 0 auto; /* Center the header horizontally */
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 47PX;

}

/* Idiom title box */
.idiom-title {
  background-color: rgba(242, 242, 242, 0);
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
  font-family: 'IM Fell English SC', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Options box */
#options {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  max-width:985px; /* Adjust the max-width as desired, so the buttons can't be wider than the image  */
  min-height: 45PX;
  border-radius: 15PX; /* The border radius has been reduced to better suit the two-line text button. */
  background-color: lightblue;
  padding: 4px 53Px;
  margin-bottom: 50px;
  color: black;
  font-size: 26PX;
  border: none;
  cursor: pointer;
  font-family: 'IM Fell English SC', serif;
  box-shadow: 0 10px 14px #481f0a; /* The shadow color now complements the image better.*/
  transition: transform 0.3s; /* how to add a smooth transition for avoid jumping*/
}

button:hover {
  background-color: #d0d0d0;
  transform: scale(1.07); /*this is the scale of the transform need this too*/
  font-weight: bold;
}

/* Next question box */
.next-question {
  text-align: center;
}

.next-question button {
  padding: 15px 30px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#start button:hover {
  background-color: #45a049;
  padding: 3px 40px;
  background-color: #d0d0d0;
  font-size: 29px;
}

#yourWins {
  margin-top: 130px;
  font-size: 26px;
  visibility:hidden;
  text-align:center;
}
#prize {
  margin: 0 auto;
    text-align: center;
    width: 923px;
    
}


#rightAnswers{
    font-weight:bold;
    font-weight: bold;
    color: brown;
    padding: 0px 76px;
}

#start h2{
  font-size: 60px;
}

.mainContainer{
  width: 1200px;
  margin-left: 30px
}